.slideshow\/desktop\/attendance\.svg {
  background: image-url("slideshow\/desktop\/attendance\.svg") no-repeat;
  // background: image-url("slideshow\/desktop\/attendance\.svg") no-repeat;
}

.slideshow\/desktop\/dashboard\.svg {
  // background: image-url("slideshow\/desktop\/dashboard\.svg") no-repeat;
  background: image-url("slideshow\/desktop\/dashboard\.svg") no-repeat;
}

.slideshow\/desktop\/enquiry\.svg {
  // background: image-url("slideshow\/desktop\/enquiry\.svg") no-repeat;
  background: image-url("slideshow\/desktop\/enquiry\.svg") no-repeat;
}

.slideshow\/desktop\/fee-details\.svg {
  // background: image-url("slideshow\/desktop\/fee-details\.svg") no-repeat;
  background: image-url("slideshow\/desktop\/fee-details\.svg") no-repeat;
}

.slideshow\/desktop\/gradebook\.svg {
  // background: image-url("slideshow\/desktop\/gradebook\.svg") no-repeat;
  background: image-url("slideshow\/desktop\/gradebook\.svg") no-repeat;
}

.slideshow\/mobile\/attendance\.svg {
  background: image-url("slideshow\/mobile\/attendance\.svg") no-repeat;
  // background: image-url("slideshow\/mobile\/attendance\.svg") no-repeat;
}

.slideshow\/mobile\/dashboard\.svg {
  // background: image-url("slideshow\/mobile\/dashboard\.svg") no-repeat;
  background: image-url("slideshow\/mobile\/dashboard\.svg") no-repeat;
}

.slideshow\/mobile\/fee-details\.svg {
  // background: image-url("slideshow\/mobile\/fee-details\.svg") no-repeat;
  background: image-url("slideshow\/mobile\/fee-details\.svg") no-repeat;
}

.slideshow\/mobile\/gps-integration\.svg {
  background: image-url("slideshow\/mobile\/gps-integration.svg") no-repeat;
  // background: data-url("slideshow\/mobile\/gps-integration.svg") no-repeat;
  // background: image-url("slideshow\/mobile\/fee-details\.svg") no-repeat;
  // background: image-url("slideshow\/mobile\/fee-details\.svg") no-repeat;
}

.slideshow\/mobile\/timetable\.svg {
  // background: image-url("slideshow\/mobile\/timetable\.svg") no-repeat;
  background: image-url("slideshow\/mobile\/timetable\.svg") no-repeat;
}

.slideshow\/mobile\/frame\.svg {
  background: image-url("slideshow\/mobile\/frame\.svg") no-repeat;
  // background: image-url("slideshow\/mobile\/frame\.svg") no-repeat;
}

.slideshow\/desktop\/frame\.svg {
  background: image-url("slideshow\/desktop\/frame\.svg") no-repeat;
  // background: image-url("slideshow\/desktop\/frame\.svg") no-repeat;
}