.illustrations\/feature-tour\/assignment\.svg {
  background: url(assets/illustrations/feature-tour/assignment-6870921a3720cd7654c2d3f1cf1b0fb12a4ad3f9da63d7772eac07b635bc984e.svg)
}

.illustrations\/feature-tour\/certificate-generator\.svg {
  background: url(assets/illustrations/feature-tour/certificate-generator-6e50d0ed8676b3b243ddd03e3bb53ee8041651000483f178d36cf7ba249b9f03.svg)
}

.illustrations\/feature-tour\/courses-and-batches\.svg {
  background: url(assets/illustrations/feature-tour/courses-and-batches-0def0c3ad32f09e77638d6fd3bc092dd3e3b4d691ac3dbeadb9b7ebe16ce4297.svg)
}

.illustrations\/feature-tour\/customizable-dashboard\.svg {
  background: url(assets/illustrations/feature-tour/customizable-dashboard-cca17713ceb13a04d807f575d2ff08d2d7c9831eb61c2276431e21cfd794f719.svg)
}

.illustrations\/feature-tour\/custom-student-remarks\.svg {
  background: url(assets/illustrations/feature-tour/custom-student-remarks-617afaf2b9534705917531722d1ec69493b5949dfbb2951ff3300f5e0218d75f.svg)
}

.illustrations\/feature-tour\/data-management\.svg {
  background: url(assets/illustrations/feature-tour/data-management-b560ef0bcd9b8983677a254239f677d36f2b2d9ff49f2d5d3d88100e375ec16a.svg)
}

.illustrations\/feature-tour\/discipline\.svg {
  background: url(assets/illustrations/feature-tour/discipline-381aa7d7db1c58686a10f749a8be097d5f0feefae2d707cc68eca15feb878d98.svg)
}

.illustrations\/feature-tour\/discussion\.svg {
  background: url(assets/illustrations/feature-tour/discussion-da26aab460721f3684f5396f862b29081b519ce7d876c6715b17d886dee0de63.svg)
}

.illustrations\/feature-tour\/employee-teacher-login\.svg {
  background: url(assets/illustrations/feature-tour/employee-teacher-login-dbd9cbc2a88e4e0b217499644246e1743293ef58a5319d2b952d15ff5dcb6a99.svg)
}

.illustrations\/feature-tour\/examination-and-gradebook\.svg {
  background: url(assets/illustrations/feature-tour/examination-and-gradebook-7ad35c78ee606ffd1222d0430ebdc678cc0e559a85cdf7393879904451588786.svg)
}

.illustrations\/feature-tour\/finance-and-fees\.svg {
  background: url(assets/illustrations/feature-tour/finance-and-fees-b373ecf9a5acb910200c28a2d6a3b1735accc5d7143854ac86e9e63af51b7496.svg)
}

.illustrations\/feature-tour\/gallery\.svg {
  background: url(assets/illustrations/feature-tour/gallery-efb3804c4fa6d9fb1e5cb9067b7cbdd0026049063d5a82f599868bad11a282e1.svg)
}

.illustrations\/feature-tour\/google-doc\.svg {
  background: url(assets/illustrations/feature-tour/google-doc-5cd97f570d51432213ca0924c0a7d4ecc960f738f78e5fb8f403ef5d61ac61ec.svg)
}

.illustrations\/feature-tour\/google-sso\.svg {
  background: url(assets/illustrations/feature-tour/google-sso-bb856257d2949a934dd0482987edd3dbde7327d38b3ee342db8c4fe711519e3c.svg)
}

.illustrations\/feature-tour\/hostel\.svg {
  background: url(assets/illustrations/feature-tour/hostel-6dd2f73c1acfd9b462378ddc9aa02d35baae019a49852796521f94930a9606f3.svg)
}

.illustrations\/feature-tour\/human-resources\.svg {
  background: url(assets/illustrations/feature-tour/human-resources-6aeb7052148b630b30b921ba5422991a4e210d1cf527a9e78bc116b148c59601.svg)
}

.illustrations\/feature-tour\/id-card-generator\.svg {
  background: url(assets/illustrations/feature-tour/id-card-generator-1dc825cfe6714037f094c78fe3251ccfd512d09603e2d1483bb8f4516207883e.svg)
}

.illustrations\/feature-tour\/inventory\.svg {
  background: url(assets/illustrations/feature-tour/inventory-778354d63c4f092de2cec4bc8d49477edc17c6385496b7433b958008206072a6.svg)
}

.illustrations\/feature-tour\/library\.svg {
  background: url(assets/illustrations/feature-tour/library-928c1b18376db412b964f9e0bc8d4021bf27b6c7a5c10f0340c2a7d3fb3910e7.svg)
}

.illustrations\/feature-tour\/messaging-system\.svg {
  background: url(assets/illustrations/feature-tour/messaging-system-13971e53222816f9acbdb6ec3e930826f2d4d29b632576703cdb652c7d8e4b51.svg)
}

.illustrations\/feature-tour\/news-management\.svg {
  background: url(assets/illustrations/feature-tour/news-management-973bea26dd019590fd34da7efb537e2433f0a2d7c59e6209630e4ef9efb2fff4.svg)
}

.illustrations\/feature-tour\/placement\.svg {
  background: url(assets/illustrations/feature-tour/placement-bff32fe6bdad2a59de8d935a25a7c60b46a3d8f3f3fe4468a822383d2bf3b0b1.svg)
}

.illustrations\/feature-tour\/poll\.svg {
  background: url(assets/illustrations/feature-tour/poll-7ca3b4af17bf82b3467c132fba082113814223bbb81d7ff664a9a967c46b1cc8.svg)
}

.illustrations\/feature-tour\/reports-center\.svg {
  background: url(assets/illustrations/feature-tour/reports-center-601b429c58abdd5fe231f43823ce550c4463d4ef92a44d51035747907f943782.svg)
}

.illustrations\/feature-tour\/sms-integration\.svg {
  background: url(assets/illustrations/feature-tour/sms-integration-a37415d55c34fcd526b351d9fe6ce60a920b088b1e84741fabd16d5c70a80cdc.svg)
}

.illustrations\/feature-tour\/student-admission\.svg {
  background: url(assets/illustrations/feature-tour/student-admission-b4b6f6e67b239e0a37f55b98867447ba4347b426f6a61d8e8f596b9fc708ffc4.svg)
}

.illustrations\/feature-tour\/enquiry-management\.svg {
  background: url(assets/illustrations/feature-tour/enquiry-management-59fc38efb9a489f76699a28717c3f7673afa48d3611d14c8a08d4809edfbdfa4.svg)
}

.illustrations\/feature-tour\/event-calender-system\.svg {
  background: url(assets/illustrations/feature-tour/event-calender-system-724669856b9601f95f246db601bfff2eadad385dc21ddcdcd2aacbc0e9c1b489.svg)
}

.illustrations\/feature-tour\/student-attendance\.svg {
  background: url(assets/illustrations/feature-tour/student-attendance-fe3fcc60d64674c9c602182c3e1f9de6a522880fee7139d9db4d47aa7836cec8.svg)
}

.illustrations\/feature-tour\/student-information\.svg {
  background: url(assets/illustrations/feature-tour/student-information-af255d3ad1f93306ec409d14fc4bbb949e3fcc20d2f85a9961a14addde3b0492.svg)
}

.illustrations\/feature-tour\/student-parent-login\.svg {
  background: url(assets/illustrations/feature-tour/student-parent-login-119765e4a75da46bccf11ef74b2972b45a8751f0cdf98a6dd37919c53765006c.svg)
}

.illustrations\/feature-tour\/task\.svg {
  background: url(assets/illustrations/feature-tour/task-c01e94ad363e0c2b995f1b2d4772e0dcd27fb4b21d5cca11161f13d7d5d85b03.svg)
}

.illustrations\/feature-tour\/theme\.svg {
  background: url(assets/illustrations/feature-tour/theme-55122da836078636aec451129391331c5f3f0a04823253a165d997c9fe900387.svg)
}

.illustrations\/feature-tour\/timetable\.svg {
  background: url(assets/illustrations/feature-tour/timetable-b75821f1fbc7a55e774759003608dd3052524fce06da77519827f65c7b1164e2.svg)
}

.illustrations\/feature-tour\/transport\.svg {
  background: url(assets/illustrations/feature-tour/transport-16304b876e66307aea80edf7cf805a71dbf312f1d21497a46dc4541da71a448e.svg)
}

.illustrations\/feature-tour\/user-management\.svg {
  background: url(assets/illustrations/feature-tour/user-management-94a74e3c47645801a65398fabd3d16a0b247fc5921d36d2e721ca78f72e69da5.svg)
}

.illustrations\/feature-tour\/form-builder\.svg {
  background: url(assets/illustrations/feature-tour/form-builder-741473e096c762c66458348f8ea10864d9109aaeec30d8b713ad091bbff0abc8.svg)
}

.illustrations\/feature-tour\/audit\.svg {
  background: url(assets/illustrations/feature-tour/audit-6aff779bee3a5c0e231721ee937eda17504b261eadb46e92792bffbbd2e41ca7.svg)
}

.illustrations\/feature-tour\/alumni\.svg {
  background: url(assets/illustrations/feature-tour/alumni-1bfc5d4055046934a949f370bfffa2f410ef56eea1bc0e1a8c2e010094ff231a.svg)
}

.illustrations\/feature-tour\/doc-manager\.svg {
  background: url(assets/illustrations/feature-tour/doc-manager-7f6a2d4194cdb3e8c51eceee9be60834c170fe8b0833791843810edd1887ee9c.svg)
}

.illustrations\/feature-tour\/blog\.svg {
  background: url(assets/illustrations/feature-tour/blog-fb33ff7e0190b579c8b48d1abdcd2fb741817ed25af681cb0d5fddf07a70445a.svg)
}

.illustrations\/feature-tour\/azure-integration\.svg {
  background: url(assets/illustrations/feature-tour/azure-integration-20018b519ed9493fc6898301d59de549734a41ffb113af53ef36975ad72510e2.svg)
}

.illustrations\/feature-tour\/reminder\.svg {
  background: url(assets/illustrations/feature-tour/reminder-7397a76ad759e7b9c29bcca432f76a016d6c840bfef4f8155aed97ac56b09cd1.svg)
}

.illustrations\/feature-tour\/automatic-timetable-generator\.svg {
  background: url(assets/illustrations/feature-tour/automatic-timetable-generator-8a65149ff33a163076617793eaa7a3bbf48b9b8a978e1b99587cd26b7a066b3b.svg)
}

.illustrations\/feature-tour\/applicant-registration\.svg {
  background: url(assets/illustrations/feature-tour/applicant-registration-aec1ff49c3791ce756cc5d878377ecb8c7999203179a8e862ca1132862abc6a6.svg)
}

.illustrations\/feature-tour\/custom-import\.svg {
  background: url(assets/illustrations/feature-tour/custom-import-1d2548ecf2da81ad484c6ce5622b575c210a2fefe313c2806478d7304f61b661.svg)
}

.illustrations\/feature-tour\/data-export\.svg {
  background: url(assets/illustrations/feature-tour/data-export-2f4acc9ffeda51d96b79676cd98d9e1592ea6a41a14f763d7c169df6d8266e7b.svg)
}

.illustrations\/feature-tour\/custom-report\.svg {
  background: url(assets/illustrations/feature-tour/custom-report-34ec3a1f00b77b032ddf0d32c2bcf5104b59fcd9ed3af273e21f58247ea630e8.svg)
}

.illustrations\/feature-tour\/fees-import\.svg {
  background: url(assets/illustrations/feature-tour/fees-import-b0605ff0efaa8a67eb93534f0d545b1ecf608b07c2d310eb699b2c84f868dc76.svg)
}

.illustrations\/feature-tour\/instant-fees\.svg {
  background: url(assets/illustrations/feature-tour/instant-fees-5bbaf78721816cd60ac2e97e2371a60116074b3e3fb122ab3266da6c9e27a097.svg)
}

.illustrations\/feature-tour\/online-exam\.svg {
  background: url(assets/illustrations/feature-tour/online-exam-19172469894743f65e5727cd83096375464dd0557fa9755bcec90869dda60805.svg)
}

.illustrations\/feature-tour\/app-frame\.svg {
  background: url(assets/illustrations/feature-tour/app-frame-7e912b37d515bd3291aaa940cc56b599f4b51f7c73c1ebd30033bf8d296b7a2b.svg)
}

.illustrations\/feature-tour\/api-access\.svg {
  background: url(assets/illustrations/feature-tour/api-access-b6b849030995cc5d2169c7216b8341a0c30fa125351e09dfb7346e943b227db8.svg)
}

.illustrations\/feature-tour\/payment-gateway-integration\.svg {
  background: url(assets/illustrations/feature-tour/payment-gateway-integration-4df5912d5a84c1699f16ec309d44b386b5f7a0fc0faacc3f6191ea5cb65a001f.svg)
}

.illustrations\/feature-tour\/email-integration\.svg {
  background: url(assets/illustrations/feature-tour/email-integration-45d9ad335bf043e18582ff08f27b6a47082a22e51e2448f5e6ffe0b1202ef079.svg)
}

.illustrations\/feature-tour\/tally-integration\.svg {
  background: url(assets/illustrations/feature-tour/tally-integration-dda8643fd16cfe1b92705837814abc231944da2e9a6ed1cacb9a47e09f1b7906.svg)
}
