.illustrations\/feature-tour\/assignment\.svg {
  background: image-url("illustrations\/feature-tour\/assignment\.svg")
}

.illustrations\/feature-tour\/certificate-generator\.svg {
  background: image-url("illustrations\/feature-tour\/certificate-generator\.svg")
}

.illustrations\/feature-tour\/courses-and-batches\.svg {
  background: image-url("illustrations\/feature-tour\/courses-and-batches\.svg")
}

.illustrations\/feature-tour\/customizable-dashboard\.svg {
  background: image-url("illustrations\/feature-tour\/customizable-dashboard\.svg")
}

.illustrations\/feature-tour\/custom-student-remarks\.svg {
  background: image-url("illustrations\/feature-tour\/custom-student-remarks\.svg")
}

.illustrations\/feature-tour\/data-management\.svg {
  background: image-url("illustrations\/feature-tour\/data-management\.svg")
}

.illustrations\/feature-tour\/discipline\.svg {
  background: image-url("illustrations\/feature-tour\/discipline\.svg")
}

.illustrations\/feature-tour\/discussion\.svg {
  background: image-url("illustrations\/feature-tour\/discussion\.svg")
}

.illustrations\/feature-tour\/employee-teacher-login\.svg {
  background: image-url("illustrations\/feature-tour\/employee-teacher-login\.svg")
}

.illustrations\/feature-tour\/examination-and-gradebook\.svg {
  background: image-url("illustrations\/feature-tour\/examination-and-gradebook\.svg")
}

.illustrations\/feature-tour\/finance-and-fees\.svg {
  background: image-url("illustrations\/feature-tour\/finance-and-fees\.svg")
}

.illustrations\/feature-tour\/gallery\.svg {
  background: image-url("illustrations\/feature-tour\/gallery\.svg")
}

.illustrations\/feature-tour\/google-doc\.svg {
  background: image-url("illustrations\/feature-tour\/google-doc\.svg")
}

.illustrations\/feature-tour\/google-sso\.svg {
  background: image-url("illustrations\/feature-tour\/google-sso\.svg")
}

.illustrations\/feature-tour\/hostel\.svg {
  background: image-url("illustrations\/feature-tour\/hostel\.svg")
}

.illustrations\/feature-tour\/human-resources\.svg {
  background: image-url("illustrations\/feature-tour\/human-resources\.svg")
}

.illustrations\/feature-tour\/id-card-generator\.svg {
  background: image-url("illustrations\/feature-tour\/id-card-generator\.svg")
}

.illustrations\/feature-tour\/inventory\.svg {
  background: image-url("illustrations\/feature-tour\/inventory\.svg")
}

.illustrations\/feature-tour\/library\.svg {
  background: image-url("illustrations\/feature-tour\/library\.svg")
}

.illustrations\/feature-tour\/messaging-system\.svg {
  background: image-url("illustrations\/feature-tour\/messaging-system\.svg")
}

.illustrations\/feature-tour\/news-management\.svg {
  background: image-url("illustrations\/feature-tour\/news-management\.svg")
}

.illustrations\/feature-tour\/placement\.svg {
  background: image-url("illustrations\/feature-tour\/placement\.svg")
}

.illustrations\/feature-tour\/poll\.svg {
  background: image-url("illustrations\/feature-tour\/poll\.svg")
}

.illustrations\/feature-tour\/reports-center\.svg {
  background: image-url("illustrations\/feature-tour\/reports-center\.svg")
}

.illustrations\/feature-tour\/sms-integration\.svg {
  background: image-url("illustrations\/feature-tour\/sms-integration\.svg")
}

.illustrations\/feature-tour\/student-admission\.svg {
  background: image-url("illustrations\/feature-tour\/student-admission\.svg")
}

.illustrations\/feature-tour\/enquiry-management\.svg {
  background: image-url("illustrations\/feature-tour\/enquiry-management\.svg")
}

.illustrations\/feature-tour\/event-calender-system\.svg {
  background: image-url("illustrations\/feature-tour\/event-calender-system\.svg")
}


.illustrations\/feature-tour\/student-attendance\.svg {
  background: image-url("illustrations\/feature-tour\/student-attendance\.svg")
}

.illustrations\/feature-tour\/student-information\.svg {
  background: image-url("illustrations\/feature-tour\/student-information\.svg")
}

.illustrations\/feature-tour\/student-parent-login\.svg {
  background: image-url("illustrations\/feature-tour\/student-parent-login\.svg")
}

.illustrations\/feature-tour\/task\.svg {
  background: image-url("illustrations\/feature-tour\/task\.svg")
}

.illustrations\/feature-tour\/theme\.svg {
  background: image-url("illustrations\/feature-tour\/theme\.svg")
}

.illustrations\/feature-tour\/timetable\.svg {
  background: image-url("illustrations\/feature-tour\/timetable\.svg")
}

.illustrations\/feature-tour\/transport\.svg {
  background: image-url("illustrations\/feature-tour\/transport\.svg")
}

.illustrations\/feature-tour\/user-management\.svg {
  background: image-url("illustrations\/feature-tour\/user-management\.svg")
}

// enterprise
.illustrations\/feature-tour\/form-builder\.svg {
  background: image-url("illustrations\/feature-tour\/form-builder\.svg")
}

.illustrations\/feature-tour\/audit\.svg {
  background: image-url("illustrations\/feature-tour\/audit\.svg")
}

.illustrations\/feature-tour\/alumni\.svg {
  background: image-url("illustrations\/feature-tour\/alumni\.svg")
}

.illustrations\/feature-tour\/doc-manager\.svg {
  background: image-url("illustrations\/feature-tour\/doc-manager\.svg")
}

.illustrations\/feature-tour\/blog\.svg {
  background: image-url("illustrations\/feature-tour\/blog\.svg")
}

.illustrations\/feature-tour\/azure-integration\.svg {
  background: image-url("illustrations\/feature-tour\/azure-integration\.svg")
}

.illustrations\/feature-tour\/reminder\.svg {
  background: image-url("illustrations\/feature-tour\/reminder\.svg")
}

.illustrations\/feature-tour\/automatic-timetable-generator\.svg {
  background: image-url("illustrations\/feature-tour\/automatic-timetable-generator\.svg")
}

.illustrations\/feature-tour\/applicant-registration\.svg {
  background: image-url("illustrations\/feature-tour\/applicant-registration\.svg")
}

.illustrations\/feature-tour\/custom-import\.svg {
  background: image-url("illustrations\/feature-tour\/custom-import\.svg")
}

.illustrations\/feature-tour\/data-export\.svg {
  background: image-url("illustrations\/feature-tour\/data-export\.svg")
}

.illustrations\/feature-tour\/custom-report\.svg {
  background: image-url("illustrations\/feature-tour\/custom-report\.svg")
}

.illustrations\/feature-tour\/fees-import\.svg {
  background: image-url("illustrations\/feature-tour\/fees-import\.svg")
}

.illustrations\/feature-tour\/instant-fees\.svg {
  background: image-url("illustrations\/feature-tour\/instant-fees\.svg")
}

.illustrations\/feature-tour\/online-exam\.svg {
  background: image-url("illustrations\/feature-tour\/online-exam\.svg")
}

.illustrations\/feature-tour\/app-frame\.svg {
  background: image-url("illustrations\/feature-tour\/app-frame\.svg")
}

.illustrations\/feature-tour\/api-access\.svg {
  background: image-url("illustrations\/feature-tour\/api-access\.svg")
}

.illustrations\/feature-tour\/payment-gateway-integration\.svg {
  background: image-url("illustrations\/feature-tour\/payment-gateway-integration\.svg")
}

.illustrations\/feature-tour\/email-integration\.svg {
  background: image-url("illustrations\/feature-tour\/email-integration\.svg")
}

.illustrations\/feature-tour\/tally-integration\.svg {
  background: image-url("illustrations\/feature-tour\/tally-integration\.svg")
}