.rating-star-filled {
  background: asset-data-url("icons\/star-filled\.svg") no-repeat;
}

.rating-star-empty {
  background: asset-data-url("icons\/star-empty\.svg") no-repeat;
}

.rating-star-semi {
  background: asset-data-url("icons\/star-semi\.svg") no-repeat;
}

.icons\/progress-75\.svg {
  background: asset-data-url("icons\/progress-75\.svg")
}

.icons\/menu\/about\.svg {
  background: asset-data-url("icons\/menu\/about\.svg")
}

.icons\/menu\/back\.svg {
  background: asset-data-url("icons\/menu\/back\.svg")
}

.icons\/menu\/contact\.svg {
  background: asset-data-url("icons\/menu\/contact\.svg")
}

.icons\/menu\/float-call\.svg {
  background: asset-data-url("icons\/menu\/float-call\.svg")
}

.icons\/menu\/float-contact\.svg {
  background: asset-data-url("icons\/menu\/float-contact\.svg")
}

.icons\/menu\/float-scroll-top\.svg {
  background: asset-data-url("icons\/menu\/float-scroll-top\.svg")
}

.icons\/menu\/hamburger\.svg {
  background: asset-data-url("icons\/menu\/hamburger\.svg")
}

.icons\/menu\/partner\.svg {
  background: asset-data-url("icons\/menu\/partner\.svg")
}

.icons\/menu\/pricing\.svg {
  background: asset-data-url("icons\/menu\/pricing\.svg")
}

.icons\/menu\/product\.svg {
  background: asset-data-url("icons\/menu\/product\.svg")
}

.icons\/menu\/resources\.svg {
  background: asset-data-url("icons\/menu\/resources\.svg")
}

.icons\/menu\/app-store\.svg {
  background: asset-data-url("icons\/menu\/app-store\.svg")
}

.icons\/menu\/play-store\.svg {
  background: asset-data-url("icons\/menu\/play-store\.svg")
}

.icons\/testimonials\/testimonial-symbol\.svg {
  background: asset-data-url("icons\/testimonials\/testimonial-symbol\.svg")
}

.icons\/testimonials\/testimonial-left\.svg {
  background: asset-data-url("icons\/testimonials\/testimonial-left\.svg")
}

.icons\/testimonials\/testimonial-right\.svg {
  background: asset-data-url("icons\/testimonials\/testimonial-right\.svg")
}

.feature-thumbnails \.easy-to-use-svg {
  background: asset-data-url("feature-thumbnails\/easy-to-use\.svg")
}

.feature-icons\/addons\/biometric\.svg {
  background: asset-data-url("feature-icons\/addons\/biometric\.svg")
}

.feature-icons\/addons\/integration\.svg {
  background: asset-data-url("feature-icons\/addons\/integration\.svg")
}

.feature-icons\/addons\/mobile\.svg {
  background: asset-data-url("feature-icons\/addons\/mobile\.svg")
}

.feature-icons\/addons\/multi-school\.svg {
  background: asset-data-url("feature-icons\/addons\/multi-school\.svg")
}

.feature-icons\/addons\/payment\.svg {
  background: asset-data-url("feature-icons\/addons\/payment\.svg")
}

.feature-icons\/alumni\.svg {
  background: asset-data-url("feature-icons\/alumni\.svg")
}

.feature-icons\/api-access\.svg {
  background: asset-data-url("feature-icons\/api-access\.svg")
}

.feature-icons\/app-frame\.svg {
  background: asset-data-url("feature-icons\/app-frame\.svg")
}

.feature-icons\/applicant-registration\.svg {
  background: asset-data-url("feature-icons\/applicant-registration\.svg")
}

.feature-icons\/assignment\.svg {
  background: asset-data-url("feature-icons\/assignment\.svg")
}

.feature-icons\/audit\.svg {
  background: asset-data-url("feature-icons\/audit\.svg")
}

.feature-icons\/automatic-timetable-generator\.svg {
  background: asset-data-url("feature-icons\/automatic-timetable-generator\.svg")
}

.feature-icons\/azure-integration\.svg {
  background: asset-data-url("feature-icons\/azure-integration\.svg")
}

.feature-icons\/blog\.svg {
  background: asset-data-url("feature-icons\/blog\.svg")
}

.feature-icons\/certificate-generator\.svg {
  background: asset-data-url("feature-icons\/certificate-generator\.svg")
}

.feature-icons\/courses-and-batches\.svg {
  background: asset-data-url("feature-icons\/courses-and-batches\.svg")
}

.feature-icons\/custom-import\.svg {
  background: asset-data-url("feature-icons\/custom-import\.svg")
}

.feature-icons\/customizable-dashboard\.svg {
  background: asset-data-url("feature-icons\/customizable-dashboard\.svg")
}

.feature-icons\/custom-report\.svg {
  background: asset-data-url("feature-icons\/custom-report\.svg")
}

.feature-icons\/custom-student-remarks\.svg {
  background: asset-data-url("feature-icons\/custom-student-remarks\.svg")
}

.feature-icons\/data-export\.svg {
  background: asset-data-url("feature-icons\/data-export\.svg")
}

.feature-icons\/data-management\.svg {
  background: asset-data-url("feature-icons\/data-management\.svg")
}

.feature-icons\/discipline\.svg {
  background: asset-data-url("feature-icons\/discipline\.svg")
}

.feature-icons\/discussion\.svg {
  background: asset-data-url("feature-icons\/discussion\.svg")
}

.feature-icons\/doc-manager\.svg {
  background: asset-data-url("feature-icons\/doc-manager\.svg")
}

.feature-icons\/email-integration\.svg {
  background: asset-data-url("feature-icons\/email-integration\.svg")
}

.feature-icons\/employee-teacher-login\.svg {
  background: asset-data-url("feature-icons\/employee-teacher-login\.svg")
}

.feature-icons\/event\.svg {
  background: asset-data-url("feature-icons\/event\.svg")
}

.feature-icons\/examination-and-gradebook\.svg {
  background: asset-data-url("feature-icons\/examination-and-gradebook\.svg")
}

.feature-icons\/feature-video\.svg {
  background: asset-data-url("feature-icons\/feature-video\.svg")
}

.feature-icons\/fees-import\.svg {
  background: asset-data-url("feature-icons\/fees-import\.svg")
}

.feature-icons\/finance-and-fees\.svg {
  background: asset-data-url("feature-icons\/finance-and-fees\.svg")
}

.feature-icons\/form-builder\.svg {
  background: asset-data-url("feature-icons\/form-builder\.svg")
}

.feature-icons\/gallery\.svg {
  background: asset-data-url("feature-icons\/gallery\.svg")
}

.feature-icons\/google-doc\.svg {
  background: asset-data-url("feature-icons\/google-doc\.svg")
}

.feature-icons\/google-sso\.svg {
  background: asset-data-url("feature-icons\/google-sso\.svg")
}

.feature-icons\/home\/examination\.svg {
  background: asset-data-url("feature-icons\/home\/examination\.svg")
}

.feature-icons\/home\/fees\.svg {
  background: asset-data-url("feature-icons\/home\/fees\.svg")
}

.feature-icons\/home\/library\.svg {
  background: asset-data-url("feature-icons\/home\/library\.svg")
}

.feature-icons\/home\/paperless-admission\.svg {
  background: asset-data-url("feature-icons\/home\/paperless-admission\.svg")
}

.feature-icons\/home\/parent-teacher-collaboration\.svg {
  background: asset-data-url("feature-icons\/home\/parent-teacher-collaboration\.svg")
}

.feature-icons\/home\/online-classes\.svg {
  background: asset-data-url("feature-icons\/home\/online-classes\.svg")
}

.feature-icons\/home\/timetable\.svg {
  background: asset-data-url("feature-icons\/home\/timetable\.svg")
}

.feature-icons\/hostel\.svg {
  background: asset-data-url("feature-icons\/hostel\.svg")
}

.feature-icons\/human-resources\.svg {
  background: asset-data-url("feature-icons\/human-resources\.svg")
}

.feature-icons\/id-card-generator\.svg {
  background: asset-data-url("feature-icons\/id-card-generator\.svg")
}

.feature-icons\/instant-fees\.svg {
  background: asset-data-url("feature-icons\/instant-fees\.svg")
}

.feature-icons\/inventory\.svg {
  background: asset-data-url("feature-icons\/inventory\.svg")
}

.feature-icons\/library\.svg {
  background: asset-data-url("feature-icons\/library\.svg")
}

.feature-icons\/messaging-system\.svg {
  background: asset-data-url("feature-icons\/messaging-system\.svg")
}

.feature-icons\/mobile-app\.svg {
  background: asset-data-url("feature-icons\/mobile-app\.svg")
}

.feature-icons\/news-management\.svg {
  background: asset-data-url("feature-icons\/news-management\.svg")
}

.feature-icons\/online-exam\.svg {
  background: asset-data-url("feature-icons\/online-exam\.svg")
}

.feature-icons\/payment-gateway-integration\.svg {
  background: asset-data-url("feature-icons\/payment-gateway-integration\.svg")
}

.feature-icons\/placement\.svg {
  background: asset-data-url("feature-icons\/placement\.svg")
}

.feature-icons\/poll\.svg {
  background: asset-data-url("feature-icons\/poll\.svg")
}

.feature-icons\/reminder\.svg {
  background: asset-data-url("feature-icons\/reminder\.svg")
}

.feature-icons\/reports-center\.svg {
  background: asset-data-url("feature-icons\/reports-center\.svg")
}

.feature-icons\/sms-integration\.svg {
  background: asset-data-url("feature-icons\/sms-integration\.svg")
}

.feature-icons\/student-admission\.svg {
  background: asset-data-url("feature-icons\/student-admission\.svg")
}

.feature-icons\/enquiry-management\.svg {
  background: asset-data-url("feature-icons\/enquiry-management\.svg")
}

.feature-icons\/event-calender-system\.svg {
  background: asset-data-url("feature-icons\/event-calender-system\.svg")
}

.feature-icons\/student-attendance\.svg {
  background: asset-data-url("feature-icons\/student-attendance\.svg")
}

.feature-icons\/student-information\.svg {
  background: asset-data-url("feature-icons\/student-information\.svg")
}

.feature-icons\/student-parent-login\.svg {
  background: asset-data-url("feature-icons\/student-parent-login\.svg")
}

.feature-icons\/student-progress-tracking\.svg {
  background: asset-data-url("feature-icons\/student-progress-tracking\.svg")
}

.feature-icons\/tally-integration\.svg {
  background: asset-data-url("feature-icons\/tally-integration\.svg")
}

.feature-icons\/task\.svg {
  background: asset-data-url("feature-icons\/task\.svg")
}

.feature-icons\/theme\.svg {
  background: asset-data-url("feature-icons\/theme\.svg")
}

.feature-icons\/timetable\.svg {
  background: asset-data-url("feature-icons\/timetable\.svg")
}

.feature-icons\/transport\.svg {
  background: asset-data-url("feature-icons\/transport\.svg")
}

.feature-icons\/user-management\.svg {
  background: asset-data-url("feature-icons\/user-management\.svg")
}

.feature-thumbnails\/easy-to-use\.svg {
  background: asset-data-url("feature-thumbnails\/easy-to-use\.svg")
}

.feature-thumbnails\/powerful-features\.svg {
  background: asset-data-url("feature-thumbnails\/powerful-features\.svg")
}

.feature-thumbnails\/schools-colleges\.svg {
  background: asset-data-url("feature-thumbnails\/schools-colleges\.svg")
}

.feature-thumbnails\/students-teachers\.svg {
  background: asset-data-url("feature-thumbnails\/students-teachers\.svg")
}

.feature-thumbnails\/unlimited-students-license\.svg {
  background: asset-data-url("feature-thumbnails\/unlimited-students-license\.svg")
}

.icons\/video\.svg {
  background: asset-data-url("icons\/video\.svg")
}

.icons\/benefits\/cloud\.svg {
  background: asset-data-url("icons\/benefits\/cloud\.svg")
}

.icons\/benefits\/customization\.svg {
  background: asset-data-url("icons\/benefits\/customization\.svg")
}

.icons\/benefits\/features\.svg {
  background: asset-data-url("icons\/benefits\/features\.svg")
}

.icons\/benefits\/language\.svg {
  background: asset-data-url("icons\/benefits\/language\.svg")
}

.icons\/benefits\/mobile-app\.svg {
  background: asset-data-url("icons\/benefits\/mobile-app\.svg")
}

.icons\/benefits\/modern-web\.svg {
  background: asset-data-url("icons\/benefits\/modern-web\.svg")
}

.icons\/benefits\/open-source\.svg {
  background: asset-data-url("icons\/benefits\/open-source\.svg")
}

.icons\/benefits\/plugin-market\.svg {
  background: asset-data-url("icons\/benefits\/plugin-market\.svg")
}

.icons\/benefits\/pricing\.svg {
  background: asset-data-url("icons\/benefits\/pricing\.svg")
}

.icons\/benefits\/secure\.svg {
  background: asset-data-url("icons\/benefits\/secure\.svg")
}

.icons\/benefits\/support\.svg {
  background: asset-data-url("icons\/benefits\/support\.svg")
}

.icons\/benefits\/user-friendly\.svg {
  background: asset-data-url("icons\/benefits\/user-friendly\.svg")
}

.icons\/careers\/agile\.svg {
  background: asset-data-url("icons\/careers\/agile\.svg")
}

.icons\/careers\/dream\.svg {
  background: asset-data-url("icons\/careers\/dream\.svg")
}

.icons\/careers\/growth\.svg {
  background: asset-data-url("icons\/careers\/growth\.svg")
}

.icons\/careers\/work\.svg {
  background: asset-data-url("icons\/careers\/work\.svg")
}

.icons\/oem\/access\.svg {
  background: asset-data-url("icons\/oem\/access\.svg")
}

.icons\/oem\/choose\.svg {
  background: asset-data-url("icons\/oem\/choose\.svg")
}

.icons\/oem\/gold\.svg {
  background: asset-data-url("icons\/oem\/gold\.svg")
}

.icons\/oem\/journey\.svg {
  background: asset-data-url("icons\/oem\/journey\.svg")
}

.icons\/oem\/onboard\.svg {
  background: asset-data-url("icons\/oem\/onboard\.svg")
}

.icons\/oem\/pay\.svg {
  background: asset-data-url("icons\/oem\/pay\.svg")
}

.icons\/oem\/platinum\.svg {
  background: asset-data-url("icons\/oem\/platinum\.svg")
}

.icons\/oem\/signature\.svg {
  background: asset-data-url("icons\/oem\/signature\.svg")
}

.icons\/oem\/silver\.svg {
  background: asset-data-url("icons\/oem\/silver\.svg")
}

.icons\/partner\/add_on\.svg {
  background: asset-data-url("icons\/partner\/add_on\.svg")
}

.icons\/partner\/auto_upgrade\.svg {
  background: asset-data-url("icons\/partner\/auto_upgrade\.svg")
}

.icons\/partner\/custom\.svg {
  background: asset-data-url("icons\/partner\/custom\.svg")
}

.icons\/partner\/embed\.svg {
  background: asset-data-url("icons\/partner\/embed\.svg")
}

.icons\/partner\/fund\.svg {
  background: asset-data-url("icons\/partner\/fund\.svg")
}

.icons\/partner\/kit\.svg {
  background: asset-data-url("icons\/partner\/kit\.svg")
}

.icons\/partner\/lead\.svg {
  background: asset-data-url("icons\/partner\/lead\.svg")
}

.icons\/partner\/lifetime\.svg {
  background: asset-data-url("icons\/partner\/lifetime\.svg")
}

.icons\/partner\/logo\.svg {
  background: asset-data-url("icons\/partner\/logo\.svg")
}

.icons\/partner\/manager\.svg {
  background: asset-data-url("icons\/partner\/manager\.svg")
}

.icons\/partner\/market\.svg {
  background: asset-data-url("icons\/partner\/market\.svg")
}

.icons\/partner\/pr_blog\.svg {
  background: asset-data-url("icons\/partner\/pr_blog\.svg")
}

.icons\/partner\/revenue\.svg {
  background: asset-data-url("icons\/partner\/revenue\.svg")
}

.icons\/partner\/source_code\.svg {
  background: asset-data-url("icons\/partner\/source_code\.svg")
}

.icons\/partner\/support\.svg {
  background: asset-data-url("icons\/partner\/support\.svg")
}

.icons\/partner\/training\.svg {
  background: asset-data-url("icons\/partner\/training\.svg")
}

.icons\/sis\/admins\.svg {
  background: asset-data-url("icons\/sis\/admins\.svg")
}

.icons\/sis\/parents\.svg {
  background: asset-data-url("icons\/sis\/parents\.svg")
}

.icons\/sis\/students\.svg {
  background: asset-data-url("icons\/sis\/students\.svg")
}

.icons\/sis\/teachers\.svg {
  background: asset-data-url("icons\/sis\/teachers\.svg")
}

.illustrations\/channel\.svg {
  background: asset-data-url("illustrations\/channel\.svg")
}

.illustrations\/enterprise-modules\.svg {
  background: asset-data-url("illustrations\/enterprise-modules\.svg")
}

.illustrations\/demo-illustration\.svg {
  background: asset-data-url("illustrations\/demo-illustration\.svg")
}

.illustrations\/limited-usage\.svg {
  background: asset-data-url("illustrations\/limited-usage\.svg")
}

.illustrations\/marketing-sales\.svg {
  background: asset-data-url("illustrations\/marketing-sales\.svg")
}

.illustrations\/maxmize-savings\.svg {
  background: asset-data-url("illustrations\/maxmize-savings\.svg")
}

.illustrations\/need-for-customization\.svg {
  background: asset-data-url("illustrations\/need-for-customization\.svg")
}

.illustrations\/oem-partnership-program\.svg {
  background: asset-data-url("illustrations\/oem-partnership-program\.svg")
}

.illustrations\/other-modules\.svg {
  background: asset-data-url("illustrations\/other-modules\.svg")
}

.illustrations\/partner\.svg {
  background: asset-data-url("illustrations\/partner\.svg")
}

.illustrations\/phone-mock\.svg {
  background: asset-data-url("illustrations\/phone-mock\.svg")
}

.illustrations\/pricing-add-on-apps\.svg {
  background: asset-data-url("illustrations\/pricing-add-on-apps\.svg")
}

.illustrations\/pro-plus-modules\.svg {
  background: asset-data-url("illustrations\/pro-plus-modules\.svg")
}

.illustrations\/reach-sell\.svg {
  background: asset-data-url("illustrations\/reach-sell\.svg")
}

.illustrations\/school-management-software\.svg {
  background: asset-data-url("illustrations\/school-management-software\.svg")
}

.illustrations\/thank-you\.svg {
  background: asset-data-url("illustrations\/thank-you\.svg")
}

.illustrations\/ultimate-school-erp\.svg {
  background: asset-data-url("illustrations\/ultimate-school-erp\.svg")
}

.illustrations\/bangalore\.svg {
  background: asset-data-url("illustrations\/bangalore\.svg")
}

.illustrations\/bangalore\.png {
  // background: asset-data-url("illustrations\/bangalore\.png");
  background: image-url("illustrations\/bangalore\.png");
}

.logos\/fedena-logo\.svg {
  background: asset-data-url("logos\/fedena-logo\.svg")
}

.icons\/social\/facebook\.svg {
  background: asset-data-url("social\/facebook\.svg")
}

.icons\/social\/linkedin\.svg {
  background: asset-data-url("social\/linkedin\.svg")
}

.icons\/social\/twitter\.svg {
  background: asset-data-url("social\/twitter\.svg")
}

.icons\/social\/youtube\.svg {
  background: asset-data-url("social\/youtube\.svg")
}

.icons\/social\/team\/facebook\.svg {
  background: asset-data-url("social\/team\/facebook\.svg")
}

.icons\/social\/team\/github\.svg {
  background: asset-data-url("social\/team\/github\.svg")
}

.icons\/social\/team\/linkedin\.svg {
  background: asset-data-url("social\/team\/linkedin\.svg")
}

.icons\/social\/team\/mail\.svg {
  background: asset-data-url("social\/team\/mail\.svg")
}

.icons\/social\/team\/twitter\.svg {
  background: asset-data-url("social\/team\/twitter\.svg")
}

.icons\/social\/team\/youtube\.svg {
  background: asset-data-url("social\/team\/youtube\.svg")
}

.icons\/pricing\/unlimited_students\.svg {
  background: asset-data-url("icons\/pricing\/unlimited_students\.svg")
}

.icons\/pricing\/unlimited_logins\.svg {
  background: asset-data-url("icons\/pricing\/unlimited_logins\.svg")
}

.icons\/pricing\/unlimited_courses\.svg {
  background: asset-data-url("icons\/pricing\/unlimited_courses\.svg")
}

.icons\/pricing\/free_hosting\.svg {
  background: asset-data-url("icons\/pricing\/free_hosting\.svg")
}

.icons\/pricing\/ssl_secured\.svg {
  background: asset-data-url("icons\/pricing\/ssl_secured\.svg")
}