
.btn.btn-primary {
  background: $btn-primary-bg;
  color: $btn-primary-color;
  border-color: $btn-primary-border;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background: $btn-primary-hover-bg;
  color: $btn-primary-hover-color;
  border-color: $btn-primary-hover-border;
}

.btn.btn-secondary {
  background: $btn-secondary-bg;
  color: $btn-secondary-color;
  border-color: $btn-secondary-border;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
  background: $btn-secondary-hover-bg;
  color: $btn-secondary-hover-color;
  border-color: $btn-secondary-hover-border;
}

.btn.btn-secondary-blue {
  background: $btn-secondary-blue-bg;
  color: $btn-secondary-blue-color;
  border-color: $btn-secondary-blue-border;
}

.btn.btn-secondary-blue:hover,
.btn.btn-secondary-blue:focus,
.btn.btn-secondary-blue:active {
  background: $btn-secondary-blue-hover-bg;
  color: $btn-secondary-blue-hover-color;
  border-color: $btn-secondary-blue-hover-border;
}

.inline-btn {
  margin: 0 2em;
}

.btn {
  font-weight: bold;
  border-width: $btn-border-width;
}

@media (max-width: $breakpoint-sm) {
  .btn-block-sm {
    display: block;
    width: 100%;
  }
}

@media (min-width: $breakpoint-lg) {
  .btn-block-lg {
    display: block;
    width: 100%;
  }
}

@media (max-width: $breakpoint-md) {
  .btn-block-md {
    display: block;
    width: 100%;
  }
}

.btn.btn-green {
  background: $btn-green-bg;
  color: $btn-green-color;
  border-color: $btn-green-border;
}

.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green:active {
  background: $btn-green-hover-bg;
  color: $btn-green-hover-color;
  border-color: $btn-green-hover-border;
}

.btn.btn-secondary-green {
  background: $btn-secondary-green-bg;
  color: $btn-secondary-green-color;
  border-color: $btn-secondary-green-border;
}

.btn.btn-secondary-green:hover,
.btn.btn-secondary-green:focus,
.btn.btn-secondary-green:active {
  background: $btn-secondary-green-hover-bg;
  color: $btn-secondary-green-hover-color;
  border-color: $btn-secondary-green-hover-border;
}


.btn.btn-secondary-accent {
  background: $btn-secondary-accent-bg;
  color: $btn-secondary-accent-color;
  border-color: $btn-secondary-accent-border;
}

.btn.btn-secondary-accent:hover,
.btn.btn-secondary-accent:focus,
.btn.btn-secondary-accent:active {
  background: $btn-secondary-accent-hover-bg;
  color: $btn-secondary-accent-hover-color;
  border-color: $btn-secondary-accent-hover-border;
}